/AnalysisSuite.class
/TFRuleBaseTest.class
/AccentRuleTest.class
/CapitalizationRuleTest.class
/DateRuleTest.class
/NumberRuleTest.class
/SpecialCharRuleTest.class
/StopWordsRuleTest.class
/SymbolRuleTest.class
/StemmerRuleTest.class
/TokenStreamTest.class
/TokenTest.class
/TokenizerTest.class
