/Analyzer.class
/AnalyzerFactory.class
/Token.class
/TokenFilter.class
/TokenFilterFactory.class
/TokenFilterType.class
/TokenStream.class
/Tokenizer.class
/TokenizerException.class
/tokentest.class
/SymbolFilter.class
/DoNothing.class
/AccentFilter.class
/StopwordsFilter.class
/PorterStemmerFilter.class
/PorterStemmer.class
/DatesFilter.class
/CapitalizationFilter.class
/SpecialCharactersFilter.class
/NumbersFilter.class
